<!-- @include head.inc.html -->

<body>
  <br />
  <table class="main rbcc">
    <tr class="sp">
      <td class="sp__inner"></td>
    </tr>

    <tr class="rbcc">
      <td class="footer footer--simple">
        <table class="rbcc footer__main">
          <tr>
            <td class="footer__main__signature" align="left">
              <!-- @echo signature --><br />
              <!-- @echo name --><br />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
